/* You can add global styles to this file, and also import other style files */

$greenColor: #57baa9;
$darkGreenColor: #30885f;

.bg {
    background-color: #f4f5fa;
    padding: 3rem;
    padding-top: 6rem;
    height: 100vh;

    div {
        background-color: #fff;
    }
}

table {
    thead {
        background-color: #f4f5fa;
    }
}

nav {
    background: $greenColor;
    color: #fff;

    h1 {
        -webkit-text-fill-color: white; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }
    .header {
        padding-left: 3rem;
        padding-right: 3rem;
        width: 100%;
    }
}

// Buttons
.btn-green {
    background: $greenColor !important;
    color: #FFF;
    outline: unset;
}
.btn-green:hover {
    background: $darkGreenColor !important;
    color: #FFF;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}
.btn:focus {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}
.btn-outline-green {
    background: #FFF !important;
    border: 1px solid $greenColor;
    color: $darkGreenColor;
    outline: unset;
}

.btn-outline-green:hover {
    background: $greenColor !important;
    color: #FFF;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
