<nav class="navbar fixed-top">
  <div class="header">
    <div class="row">
      <div class="col">
        <h1>ANKY's</h1>
      </div>
      <div class="col d-flex justify-content-end">
        <div class="me-5 d-flex align-items-center"><span role="button" tabindex="0" [routerLink]="'/categories'">Categories</span></div>
        <div class="me-5 d-flex align-items-center"><span role="button" tabindex="0" [routerLink]="'/products'">Products</span></div>
      </div>
    </div>
    <!-- <a class="navbar-brand" href="#">Fixed top</a> -->
  </div>
</nav>

<router-outlet></router-outlet>