
<div class="bg">
    <div class="row">
        <div class="col-12 d-flex justify-content-space-between align-items-center py-2">
            <div class="col">
                <h2>Products</h2>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-green rounded-pill">Add Product</button>
            </div>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category Id</th>
                        <th scope="col">Category Name</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PT1</td>
                        <td>Product 1</td>
                        <td>CT1</td>
                        <td>Category 1</td>
                        <td class="d-flex justify-content-evenly">
                            <button type="button" class="btn btn-outline-green rounded-pill">Edit</button>
                            <button type="button" class="btn btn-outline-green rounded-pill">Delete</button>
                        </td>
                    </tr>

                    <tr>
                        <td>PT1</td>
                        <td>Product 1</td>
                        <td>CT1</td>
                        <td>Category 1</td>
                        <td class="d-flex justify-content-evenly">
                            <button type="button" class="btn btn-outline-green rounded-pill">Edit</button>
                            <button type="button" class="btn btn-outline-green rounded-pill">Delete</button>
                        </td>
                    </tr>

                    <tr>
                        <td>PT1</td>
                        <td>Product 1</td>
                        <td>CT1</td>
                        <td>Category 1</td>
                        <td class="d-flex justify-content-evenly">
                            <button type="button" class="btn btn-outline-green rounded-pill">Edit</button>
                            <button type="button" class="btn btn-outline-green rounded-pill">Delete</button>
                        </td>
                    </tr>

                    <tr>
                        <td>PT1</td>
                        <td>Product 1</td>
                        <td>CT1</td>
                        <td>Category 1</td>
                        <td class="d-flex justify-content-evenly">
                            <button type="button" class="btn btn-outline-green rounded-pill">Edit</button>
                            <button type="button" class="btn btn-outline-green rounded-pill">Delete</button>
                        </td>
                    </tr>

                    <tr>
                        <td>PT1</td>
                        <td>Product 1</td>
                        <td>CT1</td>
                        <td>Category 1</td>
                        <td class="d-flex justify-content-evenly">
                            <button type="button" class="btn btn-outline-green rounded-pill">Edit</button>
                            <button type="button" class="btn btn-outline-green rounded-pill">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>