
<div class="bg">
    <div class="row">
        <div class="col-12 d-flex justify-content-space-between align-items-center py-2">
            <div class="col">
                <h2>Products</h2>
            </div>
            <div class="col text-end">
                <button type="button" class="btn btn-green rounded-pill" (click)="addProduct()">Add Product</button>
            </div>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <!-- <th scope="col">Category Id</th> -->
                        <th scope="col">Category Name</th>
                        <th scope="col" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of productList">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <!-- <td>{{item.categoryId}}</td> -->
                        <td>{{item.category?.name}}</td>
                        <td class="d-flex justify-content-evenly">
                            <button type="button" class="btn btn-outline-green rounded-pill" (click)="editProduct(item)">Edit</button>
                            <button type="button" class="btn btn-outline-green rounded-pill" (click)="deleteProduct(item.id)">Delete</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>
